@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@500;700;900&family=Work+Sans:wght@200;400&display=swap");

// colors
$cl-primary-300: #f90101;
$cl-primary-500: #c70101;
$cl-primary-700: #930101;
$cl-grey-100: #fbf5f3;
$cl-grey-200: #cecaca;
$cl-grey-300: #9d9595;
$cl-grey-500: #6a6262;
$cl-grey-700: #353131;
$cl-grey-900: #0f0e0e;

// spacing
$space-xs: 1.6rem;
$space-sm: 2rem;
$space-md: 3.2rem;
$space-lg: 4rem;
$space-xl: 4.8rem;
$space-xxl: 6rem;

// fonts
$ft-heading: "Roboto", sans-serif;
$ft-text: "Work Sans", sans-serif;
$ft-display: "Righteous", cursive;
