@use "../abstracts" as a;

.container {
  height: 100vh;
  width: 100%;
  position: relative;

  &__image {
    position: relative;
    height: 90%;
    width: 100%;
    &:after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(10deg, black, transparent);
    }
  }

  &__left {
    display: none;
    clip-path: polygon(0% 0%, 75% 0%, 100% 64%, 88% 100%, 0% 100%);
    background-color: rgb(46, 45, 45);
    opacity: 0.6;
    width: 50%;
    height: 100%;
    @include a.position-absolute(0, null, null, 0);
  }

  &__content {
    @include a.position-absolute(null, null, 0, 10%);
    transform: translate(-10%, -50%);
    padding: a.$space-xs a.$space-md;
  }
}

.title {
  @include a.font(a.$ft-heading, 700, a.$cl-grey-100, 4rem, 1.2);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(14, 13, 13, 0.4);
  z-index: 20;
}

.bannerImage {
  @include a.position-absolute(null, 5%, 0, null);
  display: none;
}

.image {
  filter: drop-shadow(2px 4px 6px black);
}

@include a.mQ(600px) {
  .container__content {
    bottom: 10%;
  }
}

@include a.mQ(920px) {
  .container__left {
    display: block;
  }
  .bannerImage {
    display: block;
  }
}
