@use "../abstracts" as a;

.container {
  height: 70vh;
  width: min(90%, 968px);
  background: black;
  margin: 0 auto;
  background-image: url("../../public/new_banner_bg.png");
  @include a.background-image(50%, 50%, cover);
  display: grid;
  grid-template-columns: 1fr;
}

.container__left {
  @include a.flex(column, center, center);
}

.container__right {
  display: none;
  position: relative;
}

.content {
  width: fit-content;

  &__bottom {
    @include a.flex(row, space-between, center);
  }
}

.t4qLogo {
  background: #fff;
  border-radius: 100%;
}

.title {
  @include a.font(a.$ft-display, 400, a.$cl-grey-100, 7rem, 1);
  text-transform: uppercase;
}

.vs {
  background-color: red;
  width: fit-content;
  padding: 0.5rem;
  @include a.font(a.$ft-display, 400, a.$cl-grey-100, 2rem, 1);
  text-transform: uppercase;
}

.times {
  padding: 1rem 0;
  @include a.font(a.$ft-heading, 700, a.$cl-grey-100, 1.1rem, 1);
  text-transform: uppercase;
}

@include a.mQ(600px) {
  .container {
    grid-template-columns: 1fr 1fr;
    padding: a.$space-md a.$space-md 0 a.$space-md;
  }

  .container__left {
    align-items: flex-start;
  }

  .container__right {
    display: block;
  }
}
