@use "../abstracts" as a;

.container {
  width: min(95%, 1400px);
  margin: 10vh auto;

  &__top {
    display: grid;
    grid-template-areas: "one" "two";
    gap: 3rem;
    margin-bottom: 3rem;
  }

  &__bottom {
    display: grid;
    grid-template-areas: "one" "two" "three" "four";
    gap: 3rem;
  }

  // training component
  &__teams {
    display: grid;
    grid-template-areas: "one" "two" "three";
    gap: 3rem;
  }
}

.card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.5 linear;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }

  &:hover .image {
    transform: scale(1.2, 1.2);
  }

  &:hover .stroke {
    animation: stroke 0.5s linear;
  }

  &__primary {
    display: grid;
    height: 500px;
    grid-template-areas: "a" "b";
  }

  &__secondary {
    display: grid;
    height: 500px;
    grid-template-areas: "a" "b";
  }

  &__tertiary {
    height: 400px;
    position: relative;
    display: block;
    overflow: hidden;
    transition: 0.4s ease-out;
    background: transparent;

    &:hover {
      transform: scale(1.08, 1.08);
    }
  }
}

.tertiary__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  padding: 1rem;
  border: 1px solid white;
  color: white;
  opacity: 0;
}

.tertiary__image {
  position: relative;
  height: 100%;
  width: 100%;
}

.corner {
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: a.$cl-primary-300;
  border-radius: 0 4px 0 32px;
}

.cardImage {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.cardContent {
  padding: 2rem;
  @include a.flex(column, space-between, flex-start);
  height: 300px;
}

.stroke {
  height: 3px;
  border-radius: 25px;
  width: 50px;
  background: a.$cl-primary-300;
}

.heading {
  @include a.font(a.$ft-heading, 700, a.$cl-grey-900, 2.8rem, 1.2);
  text-transform: uppercase;
  padding: 1rem 0;
}
.text {
  @include a.font(a.$ft-text, 400, a.$cl-grey-900, 1.8rem, 1.2);
}

.light {
  @include a.font(a.$ft-text, 400, a.$cl-grey-300, 1.2rem, 1);
  padding-left: 5px;
}

.image {
  transition: all 0.5s linear;
}

.author {
  @include a.flex(row, center, center);
}

@keyframes stroke {
  0% {
    width: 50px;
  }
  40% {
    width: 10px;
  }
  100% {
    width: 50px;
  }
}

@include a.mQ(600px) {
  .container {
    &__top {
      grid-template-areas: "one two";
    }
    &__bottom {
      grid-template-areas: "one two" "three four";
    }
  }
}

@include a.mQ(968px) {
  .container {
    &__teams {
      grid-template-areas: "one two three";
    }
  }

  .card {
    &__primary {
      grid-template-areas: "a b";
      grid-template-columns: 1fr 1fr;
      height: 350px;

      .cardImage {
        height: 100%;
      }

      .cardContent {
        height: auto;
      }
    }
  }

  .primary__container {
    grid-template-areas: "a b";
    grid-template-columns: 1fr 1fr;
    height: 350px;
  }

  .container__image {
    height: 100%;
  }

  .container__content {
    height: auto;
  }
}

@include a.mQ(1100px) {
  .container {
    &__bottom {
      grid-template-areas: "one two three four";
    }
  }
}
